/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start! */
body {
	font-family: 'Dosis', sans-serif;
	background-color: #35586C;
}
.container {
	max-width: 1500px;
}

/* Getting that line */

.line:before{
	content: '';
	position: absolute;
	top: 30px;
	bottom: 30px;
	width: 10px;
	background:#6cbfee;
	left: 185px;
	margin-left: -10px;
	border-radius: 2px;
	max-height: 505px;
	z-index: -2;

}
.fa-video-camera{
	position: relative;
	top: 40px;
	bottom: 25px;
	left: 175px;
	margin-left:-10px;
	color: white;
	border: 1px none #6cbfee;
	padding:8px 8px;
	border-radius: 50px;
	background-color: #3594cb;
	height: 15px;
	width: 15px;
	z-index: -1;
	/* I found this on her page,
	I dont understand why it works and the
	code I had didnt but the stuff I was
	trying is commented out below */
	box-shadow: 0 0 0 10px #6cbfee;
}

/*
.fa-video-camera:after {
	content: '';
	position: absolute;
	top: -4px;
	bottom: 25px;
	left: 6px;
	margin-left: -10px;
	color: #6cbfee;
	padding: 10px;
	height: 20px;
	width:20px;
	background-color: #6cbfee;
	border-radius: 50px;
	z-index: -15;

}


.backcircle {
	position: relative;
	z-index: -1;
	top: 23px;
	bottom: 25px;
	left: 175px;
	margin-left:-10px;
	color: blue;
	border: 1px solid grey;
	padding:15px 15px;
	border-radius: 50px;
	background-color: black;
	width:25px;
	height:25px

}
*/

.fa-trophy {
	position: relative;
	z-index: 1;
	top: 215px;
	bottom: 25px;
	left: 150px;
	margin-left:-10px;
	color: white;
	border: 1px none #6cbfee;
	padding:8px 8px;
	border-radius: 50px;
	background-color: #3594cb;
	box-shadow: 0 0 0 10px #6cbfee;

}
.fa-american-sign-language-interpreting {
	position: relative;
	z-index: 1;
	top: 390px;
	bottom: 25px;
	left: 123px;
	margin-left:-10px;
	color: white;
	border: 1px none #6cbfee;
	padding:8px 8px;
	border-radius: 50px;
	background-color: #3594cb;
	box-shadow: 0 0 0 10px #6cbfee;

}
/*.fa-trophy:after {
	content: '';
	position: absolute;
	top: 15px;
	bottom: 25px;
	left: 6px;
	margin-left: -10px;
	color: #6cbfee;
	padding: 10px;
	height: 20px;
	width:20px;
	background-color: #6cbfee;
	border-radius: 50px;
	z-index: -15;

}
*/

#parent {
	position: relative;
	top: 25px;
}

/* left box */
#leftbox {
	left: 45px;
	top: -25px

}

/* right box*/

#rightbox {
	right: 458px;
}
/* second set of boxes */

#parent2 {
	position: relative;
	top: 200px;
}
#leftbox2 {
	left: 45px;
	top: -25px;
}
#rightbox2 {
	right: 458px;
}
#parent3 {
	position: relative;
	top: 375px;
}

/* left box */
#leftbox3 {
	left: 45px;
	top: -25px

}

/* right box*/

#rightbox3 {
	right: 458px;
}

/* Content styles right box */

.eventblockodd {
	position: absolute;
	width: 450px;
	border: 2px none;
	border-radius: 10px;
	top: -25px;
	background-color: #6cbfee;
	padding-top: 0px;
}



.eventblockeven {
	position: absolute;
	width: 450px;
	border: 2px none;
	border-radius: 10px;
	top: -25px;
	background-color: #3594cb;
}
.eventTitle {
	padding: 15px 55px 5px 55px;
	font-size: 32px;
	position:relative;
	z-index: 1;
	text-align: left;
	color: white;
	font-weight: 700;
}
.eventTitle:before {
	content:"";
	position:absolute;
	left: 56.25px;
	bottom: 0;
	height: 1px;
	width: 75%;
	border-bottom: 2px solid white;
	opacity: .25;
}
.event {
	font-size: 16px;
	padding: 20px 12px 30px 55px;
	color: white;
}
/* Content styles left box */

.date {
	position: absolute;
	padding-top: 26px;
	font-size: 16px;
	color: lightgrey;
}
.timeodd{
	position: absolute;
	font-size: 24px;
	color: #6cbfee;

}
.timeeven{
	position: absolute;
	font-size: 24px;
	color: #3594cb;
}
